---
- name: Configuring Nginx
  hosts: 178.154.222.154
  become: true
  become_user: root
  tasks:
    - name: install and conf Consul template
      include_role:
        name: consul-template-role
      
    
    - name: Getting version name from consul KV storage
      delegate_to: 127.0.0.1
      ignore_errors: yes
      set_fact:
        version: "{{ lookup('consul_kv', 'version', host='192.168.0.67') | default('v2') }}"

    - name: Remove old config and template files
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /etc/nginx/conf.d/stream/load-balancer.conf      
        - /etc/nginx/conf.d/stream/load-balancer.conf.ctmpl 
      
    
    - name: Configure Nginx for consul-template
      include_role:
        name: ansible-role-nginx-config
      vars:
        servicename: be_version_
        nginx_config_stream_template_enable: true
        nginx_config_stream_template:
          - template_file: stream/load-balancer.conf.ctmpl.j2
            conf_file_name: load-balancer.conf.ctmpl
            deployment_location: /etc/nginx/conf.d/stream/load-balancer.conf.ctmpl
            owner: consul
            group: consul
            mode: '0644'
        nginx_config_cleanup: true
        nginx_config_cleanup_paths:
          - directory:
            - /etc/nginx/conf.d
            - /etc/nginx/sites-enabled
            recurse: false
        nginx_config_cleanup_files:
          - /etc/nginx/conf.d/default.conf
          - /etc/nginx/sites-enabled/000-default 