# tasks file for consul-template-role
---
- name: Check Consul package file
  stat:
    path: "{{ role_path }}/files/consul-template_0.41.3_linux_amd64.zip"
  become: false
  vars:
    ansible_become: false
  run_once: true
  delegate_to: 127.0.0.1

- name: Download Consul-template package
  get_url:
    url: https://hashicorp-releases.yandexcloud.net/consul-template/0.41.3/consul-template_0.41.3_linux_amd64.zip
    dest: "{{ role_path }}/files/consul-template_0.41.3_linux_amd64.zip"
  become: false
  vars:
    ansible_become: false
  run_once: true
  delegate_to: 127.0.0.1
  ignore_errors: true

- name: Create Temporary Directory for Extraction
  ansible.builtin.tempfile:
    state: directory
    prefix: ansible-consul-template.
  become: false
  vars:
    ansible_become: false
  register: install_temp
  tags: installation
  run_once: true
  delegate_to: 127.0.0.1


- name: Unarchive Consul package
  unarchive:
    src: "{{ role_path }}/files/consul-template_0.41.3_linux_amd64.zip"
    dest: "{{ install_temp.path }}/"
    creates: "{{ install_temp.path }}/consul-template"
  become: false
  vars:
    ansible_become: false
  tags:
    - installation
    - skip_ansible_lint
  run_once: true
  delegate_to: 127.0.0.1
  ignore_errors: true

- name: Install Consul-template
  ansible.builtin.copy:
    src: "{{ install_temp.path }}/consul-template"
    dest: "/usr/bin"
    owner: consul
    group: consul
    mode: "0755"
  notify:
    - reload systemd daemon
  ignore_errors: true


- name: Directories for conf consul-template
  file:
    path: /opt/consul-template
    state: directory
    owner: consul
    group: consul
    mode: "0755"


- name: Conf file
  copy:
    src: consul-template-config.hcl
    dest: /opt/consul-template/
    owner: consul
    group: consul
    mode: '0644'

- name: Create consul-template unit file
  copy:
    src: consul-template.service
    dest: /etc/systemd/system/consul-template.service

- name: Ensure consul-template service is running
  systemd:
    name: consul-template.service
    state: restarted
    enabled: true
    daemon_reload: true